@model FORUM_DYSKUSYJNE.Models.ForbiddenWordViewModel

@{
	/**/

	ViewBag.Title = "ForbiddenWords";
}

<h1 style="text-align:center; padding-bottom:30px;">Forbidden Word List</h1>





<div class="list-group">


	@foreach (var item in Model.forbiddenWords)
	{
		<div class="row ">
			<div class="col-lg-6">
				<a href="" style="text-align:left;" class="list-group-item list-group-item-action admin-privilageblock">@item.Word </a>
			</div>
			<div class="col-lg-2 " style="margin-left:70px;margin-top:10px;">


				@Html.ActionLink("Delete", "DeleteWord", new { id = item.ForbiddenWordId })

			</div>


		</div>


	}

</div>

@Html.ValidationMessageFor(m => m.word, "", new { @class = "text-danger", @style = "align:center" })
@Html.ValidationMessage("duplicate", new { @class = "text-danger",@style= "margin-left:40%" })
@using (Html.BeginForm("ForbiddenWords", "Admin", FormMethod.Post))
{

	<h2 style="text-align:center; padding-top:30px;">New word</h2>
	<div class="form-group col-lg-offset-6">
		
		@Html.TextBoxFor(m => m.word, new { @class = "form-control reg-button ", placeholder = "New Word", style = "margin-left:38px;margin-bottom:-15px;; max-width:none;" })

	</div>

	<div class="form-group">
		<div class="col-md-offset-6 reg-button col-md-10" style="padding-top:5px;">
			<input type="submit" value="Add word" style="width:300px;margin-left:23px; max-width:none;" class="btn btn-primary " />
		</div>
	</div>
}
