
@model FORUM_DYSKUSYJNE.Models.PrivilegesView
@using FORUM_DYSKUSYJNE.CustomMembershipMVC

@{
				/**/

				/**/



				ViewBag.Title = "Manage user";
}


<h1 style="text-align:center; padding-bottom:30px;">Privileges of @Model.User.Username</h1>
@Html.ValidationMessage("Warning no roles", new { @class = "text-danger", style="text-align:center;" })


<div class="container">
	@using (Html.BeginForm("PrivilegesDetail", "Admin", new { @id = Model.User.UserId }, FormMethod.Post))
	{

		<div class="box1 col-lg-offset-3" style="text-align:center; ">
			<h2 style="margin-top:5px;">
				Forum rank
			</h2>
			@Html.DropDownListFor(x => x.SelectedRank, new SelectList(Model.Ranks, "Id", "RankName"), Model.User.Rank.RankName, new { @class = "form-control", style = "margin-left:130px;" })
		</div>

		<div class="box1 col-lg-offset-3" style="height:450px;padding-left:200px;">


			<h2 style="margin-top:5px; ">
				Forum Role
			</h2>

			@foreach (var item in Model.AvailableRoles)
			{
				if(item.Value == "Admin" && Model.User.Username=="Admin")
				{
					continue;
				}
				bool check = false;
				foreach (var role in Model.User.Role)
				{

					if (role.RoleName == @item.Value)
					{
						check = true;


					}




				}

				if (check == true)
				{
					<div class="checkbox">
						<label>
							<input type="checkbox"
								   name="SelectedRoles"
								   value="@item.Value"
								   checked /> @item.Text

							</label>
						</div>
				}
				else
				{
						<div class="checkbox">
							<label>
								<input type="checkbox"
									   name="SelectedRoles"
									   value="@item.Value" /> @item.Text

								</label>
							</div>
						}
				}

			<h4> Moderator for:</h4>
			@foreach (var sectionn in Model.Sections)
			{
				bool check = false;
				if (Model.User.Section != null)
				{
					foreach (var usection in Model.User.Section)
					{

						if (usection.Name == sectionn.Name)
						{
							check = true;
						}
					}
				}


				if (check == true)
				{
					<div class="checkbox">
						<label>
							<input type="checkbox"
								   name="UserSections"
								   value="@sectionn.SectionId"
								   checked /> @sectionn.Name

							</label>
						</div>
					}
					else
					{
						<div class="checkbox">
							<label>
								<input type="checkbox"
									   name="UserSections"
									   value="@sectionn.SectionId" /> @sectionn.Name

								</label>
							</div>
						}


					}





		</div>
		<div class="form-group ">
			<input type="submit" class="btn btn-primary button col-lg-offset-3" style="width:560px;max-width:none;" value="Set Privileges" />
		</div>
	}

</div>




