@model  FORUM_DYSKUSYJNE.Models.HomeView
@using FORUM_DYSKUSYJNE.CustomMembershipMVC

@{
	ViewBag.Title = "Home Page";
}

<script>
	function myFunction(icon) {

		document.getElementById(icon).src = "/Content/Images/" + icon;
	}
</script>

<div class="container	">
	<img src="~/Content/images/topimg.png" class="move-image" style="padding-bottom:10px;" />
</div>
<html>
<div style="padding-bottom:350px;"></div>


<body>

	@if (Model.Announcements.Any())
	{

		<h2 style="text-align:center">ANNOUNCEMENTS</h2>
		<div class="container" style="padding-top:10px;">
			@foreach (var announcement in Model.Announcements)
			{

				<div class="box" style="height:150px;width:1130px;">

					<p>
						<h1 class="col-lg-12" style="text-align:center;">
							Created: @announcement.CreateDate

					<p>
						@announcement.Content
						@if ((User as CustomPrincipal) != null)
						{
							if ((User as CustomPrincipal).IsInRole("Admin"))
							{

								@Html.ActionLink("Delete Announcement", "Delete", "Home", new { id = announcement.Id }, htmlAttributes: new { @class = "btn btn-primary" })
							}

						}
					</p>
					</h1>



					</p>

				</div>
			}
		</div>
	}
	@foreach (var group in Model.Groups.OrderByDescending(x => x.GroupId))
	{

		<div class="clearfix"></div>
		<div class="group-name">

			@group.GroupName

		</div>




			foreach (var sectionn in Model.Sections)
		{
			

			int number = 0;
			if (group.GroupId == sectionn.GroupId)
			{

				
				<div class="container col-sm-6 ">




					<div class="box">
						<p>

							<div class="row">
								<div class="col-sm-8 topic-header">
									<img id="@sectionn.IconName" onclick="myFunction('@sectionn.IconName')" style="width:45px; height:35px; padding-left:5px;padding-right:-5px;" />
									<script>myFunction('@sectionn.IconName') </script>
									@Html.ActionLink(@sectionn.Name, "Section", "Home", new { id = sectionn.SectionId }, new { @class = "topic-header", style = "padding-left:0px" })

								</div>
								<div class="col-sm-4 topic-details">
									Threads: @sectionn.Topic.Count Posts:
									@foreach (var topic in sectionn.Topic)
									{
										number += topic.Post.Count;
									}
									@number

								</div>
							</div>



							<div class="topic-description">
								@sectionn.Description
							</div>

						</p>

					</div>
				</div>

			}
		}



	}

</body>
<div class="col-lg-12">
	<h4 style="float:right">@Model.RegisteredUsersInfo </h4>
</div>



</html>
