@using FORUM_DYSKUSYJNE.CustomMembershipMVC
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Web/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/Scripts/jquery-3.3.1.js")

	<link rel="stylesheet" href="~/Web/Content/MainPage.css">
</head>
<body>
	<img src='~/Web/Content/Images/backgroundd.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("HOTS FORUM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@if ((User as CustomPrincipal) != null)
					{
						<li> @Html.ActionLink((User as CustomPrincipal).Username, "AccountDetail", "Account", new { @id = (User as CustomPrincipal).UserId }, null)</li>

						<li>@Html.ActionLink("LogOut", "Logout", "Account")</li>
						if ((User as CustomPrincipal).IsInRole("Admin"))
						{
							<li>@Html.ActionLink("Admin Panel", "Panel", "Admin")</li>
						}
					}
					else
					{
						<li>@Html.ActionLink("Register", "Registration", "Account")</li>
						<li>@Html.ActionLink("Login", "Login", "Account", new { @ReturnUrl = Request.Url.AbsolutePath }, null)</li>
					}
				</ul>

			</div>


		</div>

	</div>

	<div class="container body-content">
		@RenderBody()


	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

