@model	FORUM_DYSKUSYJNE.Web.ViewModels.SectionView
@using FORUM_DYSKUSYJNE.CustomMembershipMVC

@{
	/**/

	ViewBag.Title = "Section";
}
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")


<div class="imgbox	">
	<img src="~/Web/Content/images/topimg.png" class="center-fit" />
</div>
<div class="row">

	<div class="col-lg-1" style="margin-top:-12px;margin-left:-5px;">
		<img src="~/Web/Content/Images/hotsminilogo.png" class="mini-logo" />
	</div>

	<div class="col-lg-6" style="font:bold;font-size:40px;margin-left:-40px; ">@Model.SectionName</div>

	<div class="col-lg-4" style="margin-right:-4px;"></div>
	@using (Html.BeginForm("Search", "Topic", FormMethod.Post))
	{
		@Html.HiddenFor(m => m.SectionId)
		<div class="form-group">

			<div id="searchTopics" class="input-group" style="margin-top:50px;margin-bottom:-50px;margin-left:50px;">

				@Html.TextBoxFor(m => m.SearchTerm, new { style = "width:300px;", @class = "form-control login-fields", placeholder = "Search by Topic,Posts..." })
				<span class="glyphicon glyphicon-search form-control-feedback"></span>

			</div>

		</div>
	}
	<div class="col-lg-12">
		@if ((User as CustomPrincipal) != null)
		{
			if ((User as CustomPrincipal).IsInRole("Admin") || (User as CustomPrincipal).IsInRole("User"))
			{

				<div align="right" style="padding-bottom:15px;margin-top:-6px;">

					<button type="button" class="btn btn-warning" style="width:150px;" onclick="location.href='@Url.Action("Create", "Topic",new {id = Model.SectionId })'">
						Create Topic
						<span style="float:right;" class="glyphicon glyphicon-plus form"></span>
					</button>


				</div>



			}

		}
		else
		{
			<div align="right" style="padding-bottom:15px;margin-top:-6px;">

				<button type="button" title="Login to create a topic" disabled class="btn btn-warning" style="width:150px;" onclick="location.href='@Url.Action("Create", "Topic",new {id = Model.SectionId })'">
					Create Topic
					<span style="float:right;" class="glyphicon glyphicon-plus form"></span>
				</button>


			</div>
		}
	</div>
</div>

@if (Model.Topics.Any())
{
	if ((User as CustomPrincipal) != null)
	{

		if ((User as CustomPrincipal).IsInRole("Admin") || Model.isMod)
		{



			<div class="container">
				<div class="row">
					<div class="col-lg-12 section-titlebar">
						<div class="col col-lg-3 section-font ">
							Title
						</div>
						<div class="col col-lg-1 section-font ">
							Replies
						</div>
						<div class="col col-lg-1 section-font ">
							Views
						</div>
						<div class="col-lg-2 section-font " style="padding-left:25px;">
							Last Modified
						</div>
						<div class="col-lg-1 section-font" style="padding-left:90px;">
							User
						</div>
						<div class="col-lg-2 section-font" style="padding-left:160px;">
							Created
						</div>
						<div class="col-lg-1 section-font" style="padding-left:120px;">
							Action
						</div>
					</div>
				</div>
			</div>
		}
		else
		{

			<div class="container">
				<div class="row">
					<div class="col-lg-12 section-titlebar2">
						<div class="col col-lg-3 section-font ">
							Title
						</div>
						<div class="col col-lg-1 section-font ">
							Replies
						</div>
						<div class="col col-lg-1 section-font ">
							Views
						</div>
						<div class="col-lg-2 section-font " style="padding-left:25px;">
							Last Modified
						</div>
						<div class="col-lg-1 section-font" style="padding-left:90px;">
							User
						</div>
						<div class="col-lg-2 section-font" style="padding-left:160px;">
							Created
						</div>
					</div>
				</div>
			</div>
		}

	}
	else
	{

		<div class="container">
			<div class="row">
				<div class="col-lg-12 section-titlebar2">
					<div class="col col-lg-3 section-font ">
						Title
					</div>
					<div class="col col-lg-1 section-font ">
						Replies
					</div>
					<div class="col col-lg-1 section-font ">
						Views
					</div>
					<div class="col-lg-2 section-font " style="padding-left:25px;">
						Last Modified
					</div>
					<div class="col-lg-1 section-font" style="padding-left:90px;">
						User
					</div>
					<div class="col-lg-2 section-font" style="padding-left:160px;">
						Created
					</div>
				</div>
			</div>
		</div>
	}
}
@{

	<div class="list-group">
		@foreach (var topic in Model.Topics.OrderByDescending(o => o.LastModified))
		{
			if ((User as CustomPrincipal) != null)
			{
				if (topic.Sticked && (((User as CustomPrincipal).IsInRole("Admin") || Model.isMod)))
				{


					<a href="@Url.Action("Create","Post",new { @id=topic.TopicId})" class="list-group-item list-group-item-action box-topic" style="margin-bottom:-25px; color:white;font-size:17px;">

						<div class="row">
							<div class="col-lg-3">
								<img src="~/Web/Content/Images/hot.png" width="25" height="25" />
								@topic.Name
							</div>
							<div class="col-lg-1" style="padding-left:42px;">
								@topic.PostsCount
							</div>
							<div class="col-lg-1" style="padding-left:40px;">
								@topic.ViewsCount
							</div>

							<div class="col-lg-2">
								@topic.LastModified.ToString("dd/MM/yyyy HH:mm:ss")
							</div>

							<div class="col-lg-2" style="padding-left:90px;">
								@topic.User.Username
							</div>
							<div class="col-lg-2">
								@topic.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")
							</div>


						</div>




						@if ((User as CustomPrincipal) != null)
						{



							@Ajax.ActionLink("Delete", "Delete", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, new AjaxOptions { HttpMethod = "DELETE", OnSuccess = "window.location.reload()", }, htmlAttributes: new { @class = "section-btn1 btn btn-danger" })



							if ((User as CustomPrincipal).IsInRole("Admin"))
							{
								@Html.ActionLink(" Unstick", "ToggleStick", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, htmlAttributes: new { @class = "section-btn2 btn btn-primary" })
							}
						}
						else
						{
							@Ajax.ActionLink("Delete", "Delete", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, new AjaxOptions { HttpMethod = "DELETE", OnSuccess = "window.location.reload()" }, htmlAttributes: new { @class = "section-btn1 btn btn-danger", style = "visibility:hidden" })
							@Html.ActionLink(" Unstick", "ToggleStick", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, htmlAttributes: new { @class = "section-btn2 btn btn-primary", style = "visibility:hidden" })
						}


					</a>




				}
				else
				{
					if (topic.Sticked)
					{

						<a href="@Url.Action("Create","Post",new { @id=topic.TopicId})" class="list-group-item list-group-item-action box-topic2" style="margin-bottom:-25px; color:white;font-size:17px;">

							<div class="row">
								<div class="col-lg-3">
									<img src="~/Web/Content/Images/hot.png" width="25" height="25" />
									@topic.Name
								</div>
								<div class="col-lg-1" style="padding-left:42px;">
									@topic.PostsCount
								</div>
								<div class="col-lg-1" style="padding-left:40px;">
									@topic.ViewsCount
								</div>

								<div class="col-lg-2">
									@topic.LastModified.ToString("dd/MM/yyyy HH:mm:ss")
								</div>

								<div class="col-lg-2" style="padding-left:90px;">
									@topic.User.Username
								</div>
								<div class="col-lg-2">
									@topic.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")
								</div>


							</div>




							@Ajax.ActionLink("Delete", "Delete", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, new AjaxOptions { HttpMethod = "DELETE", OnSuccess = "window.location.reload()" }, htmlAttributes: new { @class = "section-btn1 btn btn-danger", style = "visibility:hidden" })
							@Html.ActionLink(" Unstick", "ToggleStick", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, htmlAttributes: new { @class = "section-btn2 btn btn-primary", style = "visibility:hidden" })



						</a>


					}
				}
			}
			else if (topic.Sticked)
			{



				<a href="@Url.Action("Create","Post",new { @id=topic.TopicId})" class="list-group-item list-group-item-action box-topic2" style="margin-bottom:-25px; color:white;font-size:17px;">

					<div class="row">
						<div class="col-lg-3">
							<img src="~/Web/Content/Images/hot.png" width="25" height="25" />
							@topic.Name
						</div>
						<div class="col-lg-1" style="padding-left:42px;">
							@topic.PostsCount
						</div>
						<div class="col-lg-1" style="padding-left:40px;">
							@topic.ViewsCount
						</div>

						<div class="col-lg-2">
							@topic.LastModified.ToString("dd/MM/yyyy HH:mm:ss")
						</div>

						<div class="col-lg-2" style="padding-left:90px;">
							@topic.User.Username
						</div>
						<div class="col-lg-2">
							@topic.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")
						</div>

					</div>




					@if ((User as CustomPrincipal) != null)
					{

						if ((User as CustomPrincipal).IsInRole("Admin") || Model.isMod)
						{

							@Ajax.ActionLink("Delete", "Delete", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, new AjaxOptions { HttpMethod = "DELETE", OnSuccess = "window.location.reload()" }, htmlAttributes: new { @class = "section-btn3 btn btn-danger", style = "visibility:hidden" })
						}

						if ((User as CustomPrincipal).IsInRole("Admin"))
						{
							@Html.ActionLink(" Unstick", "ToggleStick", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, htmlAttributes: new { @class = "section-btn4 btn btn-primary" })
						}
					}
					else
					{
						@Ajax.ActionLink("Delete", "Delete", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, new AjaxOptions { HttpMethod = "DELETE", OnSuccess = "window.location.reload()" }, htmlAttributes: new { @class = "section-btn3 btn btn-danger", style = "visibility:hidden" })
						@Html.ActionLink(" Unstick", "ToggleStick", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, htmlAttributes: new { @class = "section-btn4 btn btn-primary", style = "visibility:hidden" })
					}


				</a>






			}

		}
	</div>
	<div style="padding-bottom:30px;"></div>
	foreach (var topic in Model.Topics.OrderByDescending(o => o.LastModified))
	{
		if ((User as CustomPrincipal != null))
		{


			if (!topic.Sticked && (((User as CustomPrincipal).IsInRole("Admin") || Model.isMod)))
			{


				<a href="@Url.Action("Create","Post",new { @id=topic.TopicId})" class="list-group-item list-group-item-action box-topic" style="margin-bottom:-25px; color:white;font-size:17px;">

					<div class="row">
						<div class="col-lg-3">
							<img src="~/Web/Content/Images/eyes.png" width="25" height="25" />
							@topic.Name
						</div>
						<div class="col-lg-1" style="padding-left:42px;">
							@topic.PostsCount
						</div>
						<div class="col-lg-1" style="padding-left:40px;">
							@topic.ViewsCount
						</div>

						<div class="col-lg-2">
							@topic.LastModified.ToString("dd/MM/yyyy HH:mm:ss")
						</div>

						<div class="col-lg-2" style="padding-left:90px;">
							@topic.User.Username
						</div>
						<div class="col-lg-2">
							@topic.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")
						</div>

					</div>








					@Ajax.ActionLink("Delete", "Delete", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, new AjaxOptions { HttpMethod = "DELETE", OnSuccess = "window.location.reload()" }, htmlAttributes: new { @class = "section-btn1 btn btn-danger" })



					@if ((User as CustomPrincipal).IsInRole("Admin"))
					{
						@Html.ActionLink("Stick", "ToggleStick", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, htmlAttributes: new { @class = "section-btn2 btn btn-primary" })
					}




				</a>



			}
			else
			{
				if (!topic.Sticked)
				{


					<a href="@Url.Action("Create","Post",new { @id=topic.TopicId})" class="list-group-item list-group-item-action box-topic2" style="margin-bottom:-25px; color:white;font-size:17px;">

						<div class="row">
							<div class="col-lg-3">
								<img src="~/Web/Content/Images/eyes.png" width="25" height="25" />
								@topic.Name
							</div>
							<div class="col-lg-1" style="padding-left:42px;">
								@topic.PostsCount
							</div>
							<div class="col-lg-1" style="padding-left:40px;">
								@topic.ViewsCount
							</div>

							<div class="col-lg-2">
								@topic.LastModified.ToString("dd/MM/yyyy HH:mm:ss")
							</div>

							<div class="col-lg-2" style="padding-left:90px;">
								@topic.User.Username
							</div>
							<div class="col-lg-2">
								@topic.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")
							</div>

						</div>




						@Ajax.ActionLink("Delete", "Delete", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, new AjaxOptions { HttpMethod = "DELETE", OnSuccess = "window.location.reload()" }, htmlAttributes: new { @class = "section-btn1 btn btn-danger", style = "visibility:hidden" })
						@Html.ActionLink("Stick", "ToggleStick", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, htmlAttributes: new { @class = "section-btn2 btn btn-primary", style = "visibility:hidden" })



					</a>

				}
			}

		}
		else if (!topic.Sticked)
		{


			<a href="@Url.Action("Create","Post",new { @id=topic.TopicId})" class="list-group-item list-group-item-action box-topic2" style="margin-bottom:-25px; color:white;font-size:17px;">

				<div class="row">
					<div class="col-lg-3">
						<img src="~/Web/Content/Images/eyes.png" width="25" height="25" />
						@topic.Name
					</div>
					<div class="col-lg-1" style="padding-left:42px;">
						@topic.PostsCount
					</div>
					<div class="col-lg-1" style="padding-left:40px;">
						@topic.ViewsCount
					</div>

					<div class="col-lg-2">
						@topic.LastModified.ToString("dd/MM/yyyy HH:mm:ss")
					</div>

					<div class="col-lg-2" style="padding-left:90px;">
						@topic.User.Username
					</div>
					<div class="col-lg-2">
						@topic.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")
					</div>

				</div>




				@Ajax.ActionLink("Delete", "Delete", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, new AjaxOptions { HttpMethod = "DELETE", OnSuccess = "window.location.reload()" }, htmlAttributes: new { @class = "section-btn3 btn btn-danger", style = "visibility:hidden" })
				@Html.ActionLink(" Stick", "ToggleStick", "Topic", new { @id = topic.TopicId, @sectionId = topic.SectionId }, htmlAttributes: new { @class = "section-btn4 btn btn-primary", style = "visibility:hidden" })



			</a>





		}


	}



}



