@model FORUM_DYSKUSYJNE.Models.RegistrationView

@{
	ViewBag.Title = "Registration";
}


@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{<div class=" col-lg-offset-4 img2">
	<img src="~/Content/images/hotslogo.png" />
</div>
	<span style="padding-top:30px;"></span>
	if (ViewBag.Message != null)
	{
		<div class="alert alert-success">
			<strong>Success!</strong> @ViewBag.Message
		</div>
	}
}
else
{
	<div class="img2	">
	<img src="~/Content/images/hotslogo.png"  />
</div>
	using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

	<div class="form-horizontal ">

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		
		<div class="form-group">
			@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2",style = "margin-left:20.2%;" })
			<div class="col-md-4" >
				@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control login-fields", placeholder = "Username" } })
				@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
				@Html.ValidationMessage("Warning Username", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-left:20.2%;" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control login-fields", placeholder = "First name" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-left:20.2%;" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control login-fields", placeholder = "Email" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
				@Html.ValidationMessage("Warning Email", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-left:20.2%;" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control login-fields", placeholder = "Location" } })
				@Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.BirthdayDate, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-left:20.2%;" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.BirthdayDate, new { htmlAttributes = new { @class = "form-control login-fields", placeholder = "YYYY-MM-DD" } })
				@Html.ValidationMessageFor(model => model.BirthdayDate, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-left:20.2%;" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control login-fields", placeholder = "Password" } })
				@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2", style = "margin-left:20.2%;" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control login-fields", placeholder = "Confirm password" } })
				@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-5 col-md-6 ">
				<input type="submit" value="Create a free account" class="btn btn-primary reg-button "style = "margin-left:25.2%;" />
			</div>
		</div>

		<div class="col-lg-offset-2" style = "margin-left:37.2%;">
			@Html.ActionLink("Already have an account?", "Login","Account",new { @class="btn btn-primary move-regbutton"})
		</div>


	</div>

		if (ViewBag.Message != null)
		{
			<div class="alert alert-danger">
				<strong>Error!</strong> @ViewBag.Message
			</div>
		}

	}
}



@section Scripts{

	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>  
}